<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.projectcapstone">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
    </queries>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectCapstone"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".pembuatabatik.PembuatanBatikMain"
            android:exported="false" />
        <activity
            android:name=".quiz.QuizMain"
            android:exported="false" />
        <activity
            android:name=".artikel.HalamanArtikel"
            android:exported="false" />
        <activity
            android:name=".main.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".artikel.DetailArtikelActivity"
            android:exported="false"
            android:parentActivityName=".artikel.HalamanArtikel"/>
        <activity
            android:name=".favorite.FavoritebookmarkActivity"
            android:exported="false"
            android:parentActivityName=".artikel.HalamanArtikel"/>

        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".detailscan.DetailActivity"
            android:exported="false"
            android:parentActivityName=".camera.CameraActivity"/>
        <activity
            android:name=".register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true" />
        <activity
            android:name=".splash.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.projectcapstone.camera"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>